@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Fix Input Zoom iPhone */
  input, textarea, select {
    @apply text-base;
  }
}

body {
  @apply bg-bg text-main antialiased;
  overscroll-behavior-y: contain;
  -webkit-tap-highlight-color: transparent;
}

@layer utilities {
  @media (hover: hover) and (pointer: fine) {
    .brut-hover-effect {
      @apply transition-transform duration-200 hover:-translate-y-1 hover:-translate-x-1 hover:shadow-brut-lg;
    }
    
    .brut-active-effect:active {
      @apply translate-y-[2px] translate-x-[2px] shadow-none;
    }
  }
}

/* --- SCROLLBAR --- */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #FDFBF7; 
  border-left: 3px solid #171717; 
}

::-webkit-scrollbar-thumb {
  background: #171717; 
  border: 2px solid #FDFBF7; 
}

::-webkit-scrollbar-thumb:hover {
  background: #FF6B6B; 
}
