@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Fix Input Zoom iPhone */
  input, textarea, select {
    @apply text-base; 
  }

  body {
    @apply bg-bg text-main antialiased;
    overscroll-behavior-y: contain; 
    -webkit-tap-highlight-color: transparent;
  }
}

/* Hover Effect: Cuma jalan di PC (Mouse) */
@media (hover: hover) and (pointer: fine) {
  .brut-hover-effect:hover {
    transform: translateY(-4px);
    /* Kita timpa shadow base dengan shadow lg */
    box-shadow: 8px 8px 0px 0px #171717; 
  }
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #FDFBF7;
  border-left: 3px solid #171717;
}
::-webkit-scrollbar-thumb {
  background: #171717;
  border: 1px solid #FDFBF7;
}

/* Layout Container */
.layout-container {
  min-height: 100dvh;
  /* FIX: Langsung pake env(), ga usah lewat theme() biar ga error parsing */
  padding-bottom: calc(2rem + env(safe-area-inset-bottom));
}
